<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.touchkiss.catelogueoflife.species.mapper.SpeciesCommonNameDaoM">
  <resultMap id="BaseResultMap" type="com.touchkiss.catelogueoflife.species.bean.SpeciesCommonName">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="species_id" jdbcType="VARCHAR" property="speciesId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="last_modify_time" jdbcType="BIGINT" property="lastModifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id,species_id,name,language,country,create_time,last_modify_time
  </sql>
  <insert id="insert" parameterType="com.touchkiss.catelogueoflife.species.bean.SpeciesCommonName">
     insert into t_species_common_name(<include refid="Base_Column_List"></include>)
     values (
     #{id,jdbcType=INTEGER},#{speciesId,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{language,jdbcType=VARCHAR},#{country,jdbcType=VARCHAR},#{createTime,jdbcType=BIGINT},#{lastModifyTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertWithoutId" parameterType="com.touchkiss.catelogueoflife.species.bean.SpeciesCommonName" useGeneratedKeys="true" keyProperty="id">
     insert into t_species_common_name(species_id,name,language,country,create_time,last_modify_time)
     values (
     #{speciesId,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{language,jdbcType=VARCHAR},#{country,jdbcType=VARCHAR},#{createTime,jdbcType=BIGINT},#{lastModifyTime,jdbcType=BIGINT})
  </insert>
  <delete id="deleteById" parameterType="java.lang.Integer">
     delete from t_species_common_name
     where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByMap">
        delete from t_species_common_name
        <include refid="whereSql"></include>
    </delete>
  <update id="updateById">
     update t_species_common_name
     set
       species_id = #{speciesCommonName.speciesId,jdbcType=VARCHAR},
       name = #{speciesCommonName.name,jdbcType=VARCHAR},
       language = #{speciesCommonName.language,jdbcType=VARCHAR},
       country = #{speciesCommonName.country,jdbcType=VARCHAR},
       create_time = #{speciesCommonName.createTime,jdbcType=BIGINT},
       last_modify_time = #{speciesCommonName.lastModifyTime,jdbcType=BIGINT}
     where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateSelectiveById">
     update t_species_common_name
     set
        <trim suffixOverrides=",">
     <if test="speciesCommonName.speciesId != null">
       species_id = #{speciesCommonName.speciesId,jdbcType=VARCHAR},
     </if>
     <if test="speciesCommonName.name != null">
       name = #{speciesCommonName.name,jdbcType=VARCHAR},
     </if>
     <if test="speciesCommonName.language != null">
       language = #{speciesCommonName.language,jdbcType=VARCHAR},
     </if>
     <if test="speciesCommonName.country != null">
       country = #{speciesCommonName.country,jdbcType=VARCHAR},
     </if>
     <if test="speciesCommonName.createTime != null">
       create_time = #{speciesCommonName.createTime,jdbcType=BIGINT},
     </if>
     <if test="speciesCommonName.lastModifyTime != null">
       last_modify_time = #{speciesCommonName.lastModifyTime,jdbcType=BIGINT}
     </if>
        </trim>
     where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateSelectiveByMap">
     update t_species_common_name
     set
        <trim suffixOverrides=",">
     <if test="speciesCommonName.speciesId != null">
       species_id = #{speciesCommonName.speciesId,jdbcType=VARCHAR},
     </if>
     <if test="speciesCommonName.name != null">
       name = #{speciesCommonName.name,jdbcType=VARCHAR},
     </if>
     <if test="speciesCommonName.language != null">
       language = #{speciesCommonName.language,jdbcType=VARCHAR},
     </if>
     <if test="speciesCommonName.country != null">
       country = #{speciesCommonName.country,jdbcType=VARCHAR},
     </if>
     <if test="speciesCommonName.createTime != null">
       create_time = #{speciesCommonName.createTime,jdbcType=BIGINT},
     </if>
     <if test="speciesCommonName.lastModifyTime != null">
       last_modify_time = #{speciesCommonName.lastModifyTime,jdbcType=BIGINT}
     </if>
        </trim>
        <include refid="whereSql"></include>
  </update>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
     select
     <include refid="Base_Column_List" />
     from t_species_common_name
     where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="querySpeciesCommonNameList" parameterType="java.util.HashMap"  resultMap="BaseResultMap">
     select * FROM  t_species_common_name  <include refid="whereSql"></include>
     <if test="wheres.get('datatableorderby')!=null and wheres.get('datatableorderby')!='' ">
         ${wheres.get('datatableorderby')}
     </if>
     <if test="wheres.get('limit')!=null and wheres.get('limit')!='' ">
         ${wheres.get('limit')}
     </if>
  </select>
  <select id="findByPage" parameterType="java.util.HashMap"  resultMap="BaseResultMap" useCache="false">
     select * FROM  t_species_common_name  <include refid="whereSql"></include>
     <if test="wheres.get('datatableorderby')!=null and wheres.get('datatableorderby')!='' ">
         ${wheres.get('datatableorderby')}
     </if>
  </select>
  <sql id="whereSql">
        <if test="wheres != null and wheres.size() > 0">
            where 1 = 1
            <foreach collection="wheres.entrySet()" item="value" index="key">
                <bind name="valid" value="1"/>
                <if test="key != null and key != '' and key.trim() != '' and ((key.endsWith('_isn') or key.endsWith('_isnn')) or (!key.endsWith('_isn') and !key.endsWith('_isnn') and value != null and value != ''))">
                    <choose>
                        <when test="key == 'id' or key.startsWith('id_')">and id</when>
                        <when test="key == 'speciesId' or key.startsWith('speciesId_')">and species_id</when>
                        <when test="key == 'name' or key.startsWith('name_')">and name</when>
                        <when test="key == 'language' or key.startsWith('language_')">and language</when>
                        <when test="key == 'country' or key.startsWith('country_')">and country</when>
                        <when test="key == 'createTime' or key.startsWith('createTime_')">and create_time</when>
                        <when test="key == 'lastModifyTime' or key.startsWith('lastModifyTime_')">and last_modify_time</when>
                        <otherwise>
                            <bind name="valid" value="0"/>
                        </otherwise>
                    </choose>
                    <if test="valid == 1">
                        <choose>
                            <when test="key.endsWith('_eq')">= #{value}</when>
                            <when test="key.endsWith('_ne')">&lt;&gt; #{value}</when>
                            <when test="key.endsWith('_lt')">&lt; #{value}</when>
                            <when test="key.endsWith('_gt')">&gt; #{value}</when>
                            <when test="key.endsWith('_let')">&lt;= #{value}</when>
                            <when test="key.endsWith('_get')">&gt;= #{value}</when>
                            <when test="key.endsWith('_reg')">regexp #{value}</when>
                            <when test="key.endsWith('_in')">in (${value})</when>
                            <when test="key.endsWith('_nin')">not in (${value})</when>
                            <when test="key.endsWith('_like')">like '%${value}%'</when>
                            <when test="key.endsWith('_nlike')">not like '%${value}%'</when>
                            <when test="key.endsWith('_isn')">is null</when>
                            <when test="key.endsWith('_isnn')">is not null</when>
                            <otherwise>= #{value}</otherwise>
                        </choose>
                    </if>
                </if>
            </foreach>
        </if>
  </sql>
</mapper>
