<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.touchkiss.catelogueoflife.life.mapper.LifeCategoryDaoM">
    <select id="queryTreeId" parameterType="int" resultType="string">
        select queryLifeCategoryTree(#{id})
    </select>
    <select id="queryTree" resultMap="BaseResultMap">
        <foreach collection="ids" item="id" separator="union all">
            select * from t_life_category where id = #{id}
        </foreach>
    </select>
</mapper>
